body {
    font-family:'Noto Sans';
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

p {
    text-align: justify;
}

table {
    width: 90%;
    margin: auto;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2
}

tr:hover {background-color: #f2f2f2;}

ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

#headers {
    text-align: center;
    padding-top: 20px;
}

#task-caption {
    text-align: center;
    color: gray;
    padding: 2px;
}

#intern-dataloader-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#dataset-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#tasks-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#dataset2-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#footer {
    font-size: 0.75em
}

#footer p {
    text-align: center;
}

.small-font {
    font-size: 0.85em;
}

.tab {
    width: 90%;
}

.lab-logo{
    height: 40px;
}

.lab-flexbox {
    display: flex;
    justify-content: center;
}

.lab-flexbox p {
    margin-left: 10px;
}